{% load static %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
    }
    .login-container {
        width: 300px;
        margin: 50px auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}" class="btn btn-secondary">Sign Up</a>

        <p>Forgot your password? <a href="{% url 'request_reset' %}">Click here to reset it</a></p>
    </div>
</body>
</html>
